.title {
  margin: 30px 0;
  color: var(--title-color);
}

.select-label {
  color: var(--primary-color);
  margin: 10px 0;
}

.select-input {
  outline: none;
  padding: 10px;
  border: 2px solid var(--title-color);
  color: #264653;
  background-color: var(--tertiary-color);
  width: 300px;

  &:focus {
    border: 2px solid var(--focus-color);;
  }
}

.header {
  width: 500px;
  height: 180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}